.vscode/**
.vscode-test/**
Test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
src/
media/
node_modules
scripts/
out/
.github/
esbuild.js
eslint.config.mjs
package.json
tsconfig.json