@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono&display=swap");

:root {
  --theme-color: #themeColor;
  --black-icon-color: #000000;
}

/*#region* Start: Body */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body.vscode-light {
  color: #000000;
}

body.vscode-dark {
  color: #ffffff;
  --black-icon-color: #ffffff;
}
/*#endregion*/

/*#region* Start: Action Menu */
.action-menu {
  position: fixed;
  height: 65px;
  right: -10px;
  width: 100%;
}

.button-container {
  position: absolute;
  right: 20px;
  top: 0px;
}

.button {
  position: relative;
  height: 40px;
  width: 40px;
  background: var(--theme-color);
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  margin: 10px 0px 10px 10px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 1.5px 1.5px 2.5px 0.5px rgba(255, 255, 255, 0.25);
  filter: drop-shadow(1.5px 1.5px 2.5px rgba(0, 0, 0, 0.25));
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}

.button:hover,
.button:focus-visible {
  width: 140px;
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}

.button:hover > span {
  opacity: 100%;
}

.btn-name {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: #ffffff;
  position: absolute;
  margin-left: 35px;
  opacity: 0;
}
/*#endregion*/

/*#region* Start: Svg - Icons */
.svg {
  height: 20px;
  width: 20px;
}

.svg.size-sm {
  height: 15px;
  width: 15px;
}

.svg.fill-white {
  fill: #ffffff;
}

.svg.fill-black {
  fill: var(--black-icon-color);
}

.svg.fill-none {
  fill: none;
}

.svg.stroke-white {
  stroke: #ffffff;
}

.svg.pointer {
  cursor: pointer;
}

.svg.icon-success,
.svg.icon-error {
  margin: 0 5px;
  display: none;
}
/*#endregion*/

/*#region* Start: Data Container */
.data-container {
  height: 100%;
  margin: 55px 3px 0px 3px;
  flex-grow: 1;
}

.generic-type-container {
  display: flex;
  gap: 0px 10px;
}

.result {
  white-space: pre;
}
/*#endregion*/

/*#region* Start: Popup Container */
.popup-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  opacity: 0;
  min-width: 250px;
  max-width: 300px;
  margin-left: -125px;
  background-color: var(--vscode-editor-background);
  text-align: center;
  border-radius: 15px;
  border-style: solid;
  border-color: #25ae88;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
  transition: opacity 0.5s, bottom 0.5s;
}

.popup-container.success {
  border-color: #25ae88;
}

.popup-container.error {
  border-color: #d75a4a;
}

.popup-container.show {
  opacity: 1;
  bottom: 30px;
}

#popup-message {
  text-wrap: pretty;
  min-width: 205px;
  max-width: 255px;
}
/*#endregion*/
